label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

img.d-inline-block {
  height: 70px;
  width: 120px;
}

nav.myFooter {
  position: fixed;
  bottom: 0;
}

html,
body,
.container,
.main-container,
div#root {
  min-height: 100%;
}

div.container-fluid {
  position: fixed;
  height: 100%;
}

.upper-link {
  padding-top: 24.5% !important;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

a.nav-link {
  font-family: helvetica;
  font-weight: bold;
  color: black;
  cursor: pointer;
  background: linear-gradient(currentColor, currentColor) bottom / 0 0.1em
    no-repeat;
  transition: 0.5s background-size;
}

a.nav-link:hover {
  color: #24b7f8;
  /*  */
  background-size: 100% 0.1em;
}

a.navbar {
  background-color: white;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.col-md-8 {
  padding-top: 8px;
}
